* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
}

.menuParentDiv {
    height: 75%;
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.divForAhref {
    width: 24%;
    text-align: center;
    font-size: 22px;
    font-family: fantasy;
    height: 100%;
    transition: 0.7s;
    position: relative;
}

.divForAhref:hover {
    transform: scale(1.05);
}

.menuA {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.menuA img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 10px;
}

.divForAhref:hover .overlay {
    opacity: 1;
}

.overlayText {
    color: white;
    font-size: 25px;
    font-weight:400
}
