*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
}
.menuParentDiv{
    height: 75%;
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.divForAhref{
 width: 25%;
 text-align: center;
 font-size: 22px;
 font-family: fantasy;
 height: 100%;
}
.menuA{
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.menuA img{
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
}