body {
  background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
}

.parentDiv{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.back-home-icon{
  width: 50px;
}


.divImgClass{
  background-size: cover;
    background-repeat: no-repeat;
    width: 491px;
    height: 330px;
}

.optgroup2:hover{
  background: red;
}

.dogsSelect {
  margin-bottom: 35px;
  border: none;
  padding: 5px;
  border-radius: 5px;
  border: none;
  padding: 5px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 5px;
}

.loading_spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: block;
}

.loading_spinner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

