<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href='../../images/favicon.ico' type='image/x-icon'>
    <link rel="shortcut icon" href='../../images/favicon.ico' type='image/x-icon'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="../css/style.css"></link>
    <title>Countries</title>
</head>
<body>
    <script src="../js/script.js"></script>
    <script src="../js/countries.js"></script>
    <script src="../js/modal.js"></script>
    <script src="../js/filter.js"></script>
    <script src="../js/sticky.js"></script>
</body>
</html>