<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href='../../images/favicon.ico' type='image/x-icon'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="shortcut icon" href='../../images/favicon.ico' type='image/x-icon'>
    <link rel="stylesheet" href="../css/style.css"></link>
    <title>Countries</title>
</head>
<body class="scroll_effect" id="body">
    <div id="loading" class="loading_spinner">
        <img src="../images/loading/loading.webp" alt="Loading">
    </div>
    <main>
        <header id="header">
            <div class="container">
                <nav id="nav">
                    <a href="../../index.html">
                        <img src="../../images/kisspng-website-house-home-world-wide-web-computer-icons-house-clip-art-5ab036bbf19551.9166615015214977879895.png" alt="back">
                    </a>
                    <form class='search' autocomplete='off'>
                        <input type='text' id='filter' onkeyup='filterSearch(event)' placeholder='Search country...' class=''>
                        <div id="autocomplete" class="autocomplete_box scroll_effect"></div>
                    </form>
                </nav>
                <h1 class="title">C<img src="../images/logo/logo.png" alt="">untries</h1>
            </div>
        </header>
        <section class="countries" id="countriesList"></section>
        <footer id="footer">
            <a href="#body" class="top" id="topButton">GO TO TOP</a>
        </footer>
    </main>
    <script src="../js/script.js"></script>
    <script src="../js/countries.js"></script>
    <script src="../js/modal.js"></script>
    <script src="../js/filter.js"></script>
    <script src="../js/sticky.js"></script>
</body>
</html>