<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css"></link>
    <title>Countries</title>
</head>
<body>
    <main>
        <div class="container">
            <section class="search">
                <form class='search' autocomplete='off'>
                    <div class='autocomplete'>
                        <input type='text' id='filter' onkeyup='filter_search()' placeholder='Search country...' class=''>
                    </div>
                </form>
            </section>
            <section class="countries" id="countriesList"></section>
        </div>
    </main>
    <script src="../js/countries.js"></script>
</body>
</html>